{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
      <div id="label">
        <div class="row">
          <div class="col-md-5">
                     </div>
          <div class="col-md-5">
            <h1 class="text-justify text-muted">Heather Shapiro</h1>
            <address>
                <a href="mailto#">shapiro.heather@gmail.com</a>
            </address>
            
            <p class="lead"><a href="http://heather-shapiro.com">www.heather-shapiro.com</a></p>
                <div class="social-icons">
                    <a href="https://github.com/shapiroheather" alt="f200" class="genericon genericon-github hidden-xs"></a>
                </div>
                <div class="social-icons">
                    <a href="https://twitter.com/shapiro_heather" alt="f202" class="genericon genericon-twitter hidden-xs"></a>
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/shapiroheather" alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
                </div>
    </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

{% endblock %}

