{% extends "layout/base.html" %}

{% block content %}

 
		            
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
      <div id="label">
        <div class="row">
        
                     
          
            
            <h1><center>  Heather Shapiro</center></h1>
            
            
           
            <center>
            <h2><a href="http://heather-shapiro.com">  www.heather-shapiro.com</a></h2>
                </center>
                 <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                 <center>
                <div class="social-icons">
                
                    <a href="https://www.linkedin.com/in/shapiroheather" alt="f207" class="genericon genericon-linkedin hidden-s"></a>
                </div>
                 <div class="social-icons">
                    <a href="https://twitter.com/shapiro_heather" alt="f202" class="genericon genericon-twitter hidden-s"></a>
                </div>
                <div class="social-icons">
                    <a href="https://github.com/shapiroheather" alt="f200" class="genericon genericon-github hidden-s"></a>
                </div>
               
                 </center>
                 </div>
                 </div>  <!-- /class row for social icons -->
                
    </div> <!-- /class row -->
            
          </div> <!-- /label -->
        </div>  <!-- /container-fluid -->
      </div>  <!-- /container -->
    </div>  <!-- /id wrap -->

  
  
  

{% endblock %}

