{% extends "layout/base.html" %}

{% block content %}

<html lang="en"
    <head>   
        <!-- Custom styles for this template -->
        <link href="static/css/main.css" rel="stylesheet">
        <script type="text/javascript" src='static/js/jquery-2.0.3.min.js'></script> 
    </head>  
      
    <body> 
    
    <div id="headerwrap">
	    <div class="container">
	        <div id="other_label"> 
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2">
			            <h2>
			                <center>
			                    <b>
			                        <a href="http://watsi.org">Watsi</a> aims to bring medical care to people in need.
			                    </b>
			                </center>
			            </h2>      
			            <div class="row">
                            <div class="col-md-6 col-md-offset-3">
				                <form name="input" action="/results" method="get">
				        			<select id="patient_id" class="btn btn-info form-control input-lg">
				                        <option>All Patient IDs</option>				                        
				                        <option>2223</option>
				                        <option>2306</option>
				                        <option>2334</option>
				                        <option>2335</option>
				                        <option>2336</option>
				                        <option>2370</option>
				                        <option>2398</option>
				                        <option>2436</option>
				                        <option>2459</option>
				                        <option>2461</option>
				                        <option>2462</option>
				                        <option>2463</option>
				                        </select>			        
				                    <button id="submit" type="button" class="btn btn-primary btn-block input-lg" >Submit</button>
				                </form>
				            </div> <!-- /class col -->
                        </div> <!-- /class row -->
				        <h2>
                            <center>Who will get the most in daily donations?</center>
                        </h2>
				    </div> <!-- /class col -->
                </div> <!-- /class row -->
			</div> <!-- /class label -->       
		</div> <!--container -->	       
    </div> <!-- /headerwrap -->               
                            
    <script>         
        $('#submit').click(function(e){
            var patient_id_dropdown = document.getElementById('patient_id');
            window.location.href = '/results/'+patient_id_dropdown.value
        });         
    </script>     
       
    </body>     
</html>
 
{% endblock %}

