{% extends "layout/base.html" %}

{% block content %}

<html lang="en"
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="description" content="">
        <meta name = "author" content="">
        

        
    <!-- Bootstrap core CSS -->
    <link href="static/css/foodclockstyle.css" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/font- awesome.min.css" rel="stylesheet">
    
     <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
    <script type="text/javascript" src='static/js/jquery-2.0.3.min.js'></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
                              
                              //Check if the current URL contains '#'
                              if(document.URL.indexOf("#")==-1)
                              {
                              // Set the URL to whatever it was plus "#".
                              url = document.URL+"#";
                              location = "#";
                              
                              //Reload the page
                              location.reload(true);
                              
                              }
                              });
    </script> 
    
    </head>    
    
    <body>
    
   <br><br>
  


<body>


<div class = "container">

<div class = "span4 offset4">

<table class="table table-hover">   
    <thead>
        <tr><td><div class="text-left">Patient</div></td><td><div class="text-left"></div></td><td><div class="text-center">Treatment Cost</div></td><td><div class="text-center">Predicted Time To Funding</div></td></tr>
    </thead>
    
    <tbody>
    
        <tr><td><div class="text-left">1. <a href = "{{sorted_list[0][0]['ProfileURL']}}" >{{sorted_list[0][0]['PatientName']}}</a>
			        from {{sorted_list[0][0]['Country']}}</td>
            <td><p><img src="{{sorted_list[0][0]['PicURL']}}" height="75" ><br>
			    {{sorted_list[0][0]['Age']}} year old {{sorted_list[0][0]['Gender']}} </p>  
			</td>
	    
	        <td><div class="text-center">${{sorted_list[0][0]['Cost']}}</div></td>
	
	        <td class=""><div class="text-center">{{sorted_list[0][0]['Predictions']}} days</div></td>
	
        </tr>
        
        
        <tr><td><div class="text-left">2. <a href = "{{sorted_list[1][0]['ProfileURL']}}" >{{sorted_list[1][0]['PatientName']}}</a>
			        from {{sorted_list[1][0]['Country']}}</td>
            <td><p><img src="{{sorted_list[1][0]['PicURL']}}" height="75" ><br>   
			    {{sorted_list[1][0]['Age']}} year old {{sorted_list[1][0]['Gender']}}</p>  
			</td>
	    
	        <td><div class="text-center">${{sorted_list[1][0]['Cost']}}</div></td>
	
	        <td class=""><div class="text-center">{{sorted_list[1][0]['Predictions']}} days</div></td>
	
        </tr>

       <tr><td><div class="text-left">3. <a href = "{{sorted_list[2][0]['ProfileURL']}}" >{{sorted_list[2][0]['PatientName']}}</a>
			        from {{sorted_list[2][0]['Country']}}</td>
            <td><p><img src="{{sorted_list[2][0]['PicURL']}}" height="75" ><br>   
			    {{sorted_list[2][0]['Age']}} year old {{sorted_list[2][0]['Gender']}}</p>  
			</td>
	    
	        <td><div class="text-center">${{sorted_list[2][0]['Cost']}}</div></td>
	
	        <td class=""><div class="text-center">{{sorted_list[2][0]['Predictions']}} days</div></td>
	
        </tr>

     </tbody>
        
  
</table>

</div>
</div>

</body>



{% endblock %}

