{% extends "layout/base.html" %}

{% block content %}

<html lang="en"
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="description" content="">
        <meta name = "author" content="">
        
        <!-- Custom styles for this template -->
        <link href="static/css/main.css" rel="stylesheet">
        <script type="text/javascript" src='static/js/jquery-2.0.3.min.js'></script>
    </head>    
    
    <body>
    
    <br><br>

	<div class="container">	 
		<div class="row">
            <div style=" height: 700px; width: 1000px; font-size: 18px; overflow: auto;">
                <div id="label"> 
                    <table class="table table-hover" style="overflow-y:scroll">               
                        <thead>
                            <tr>
                            <td></td>
                            <td>
                                <div class="text-left">Patient</div>
                            </td>
                            <td>
                                <div class="text-left"></div>
                            </td>
                            <td>
                                <div class="text-center">Treatment Cost</div>
                            </td>
                            <td>
                                <div class="text-center">Predicted Daily Donations</div>
                            </td>
                            </tr>
                        </thead>
                        <tbody>
       
                            {% for row in sorted_list %}
     
                            <tr>
                            <td>
                                {{loop.index}}
                            </td>
                            <td>
                                <div class="text-left"><a href = "{{sorted_list[loop.index0][0]['ProfileURL']}}" >{{sorted_list[loop.index0][0]['PatientName']}}</a>
			                        from {{sorted_list[loop.index0][0]['Country']}}<br>
			                        Age: {{sorted_list[loop.index0][0]['Age']}} 
			                </td>
                            <td>
                                <p><img src="{{sorted_list[loop.index0][0]['PicURL']}}" height="75" ></p>
                            </td>
	                        <td>
	                            <div class="text-center">${{sorted_list[loop.index0][0]['Cost']}}</div>
	                        </td>
	                        <td class="">
	                            <div class="text-center">${{sorted_list[loop.index0][0]['Predictions']}}</div>
	                        </td>
                            </tr>   
                                 
                            {% endfor %}
    
                        </tbody>
                    </table>
                </div> <!-- /class label -->
            </div> <!-- /class style -->
        </div> <!-- /class row -->
    </div> <!-- /class container -->
    
    </body>
</html>

{% endblock %}

