{% extends "layout/base.html" %}

{% block content %}

<html lang="en"
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <meta name="description" content="">
        <meta name = "author" content="">
        

        
    
     <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet">
    <script type="text/javascript" src='static/js/jquery-2.0.3.min.js'></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
                              
                              //Check if the current URL contains '#'
                              if(document.URL.indexOf("#")==-1)
                              {
                              // Set the URL to whatever it was plus "#".
                              url = document.URL+"#";
                              location = "#";
                              
                              //Reload the page
                              location.reload(true);
                              
                              }
                              });
    </script> 
    
    </head>    
    
    <body>
    
   <br><br>
  


<body>



<div STYLE=" height: 500px; width: 1000px; font-size: 18px; overflow: auto;">

<div class = "container">



<style style="text/css">
  	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #245269;
    }
</style>



	<div class="container">
	    <div id="label"> 
		<div class="row">
		<div class = "col-lg-6 "> 






<table class="table table-hover" style="overflow-y:scroll">  

    <thead>
        <tr><td></td><td><div class="text-left">Patient</div></td><td><div class="text-left"></div></td><td><div class="text-center">Treatment Cost</div></td><td><div class="text-center">Predicted Time To Funding</div></td></tr>
    </thead>
    
    <tbody>
    
    
    {% for row in sorted_list %}
     
     <tr><td>{{loop.index}}</td><td><div class="text-left"><a href = "{{sorted_list[loop.index0][0]['ProfileURL']}}" >{{sorted_list[loop.index0][0]['PatientName']}}</a>
			        from {{sorted_list[loop.index0][0]['Country']}}<br>
			    {{sorted_list[loop.index0][0]['Age']}} year old {{sorted_list[loop.index0][0]['Gender']}} </td>
            <td><p><img src="{{sorted_list[loop.index0][0]['PicURL']}}" height="75" ></p>  
			</td>
	    
	        <td><div class="text-center">${{sorted_list[loop.index0][0]['Cost']}}</div></td>
	
	        <td class=""><div class="text-center">{{sorted_list[loop.index0][0]['Predictions']}} days</div></td>
	
        </tr>
        
    {% endfor %}
    
  
     </tbody>
        
  
</table>

</div>

</div>
</div>
</div>

</body>



{% endblock %}

