{% extends "layout/base.html" %}
{% block content %}
  <div id='wrap' align='center'>
  <h1>HealthImpact</h1>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('showresults') }}" class="form-search" method=POST>
    <dl>
      <dt>Who needs medical treatment?
      <dd><input id="city" type=text value="{{settings['city']}}" name=city class="input-medium search-query">
      <p>
      <dd><button type=submit class="btn">How long will it take for funding?</button>
      </p>
    </dl>
  </form>
  </div>
{% endblock %}