{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="reveal">
    <div class="slides">
      
      <section data-background="#191919">
<h2 class="absolute-element" style="position: absolute; width: 964.2558370591157px; height: 68px; z-index: 4; left: -7px; top: 132px; max-height: none; max-width: none;">WHENZI</h2>
<div>
    <br>
</div>
<div class="absolute-element" style="position: absolute; width: 960.9508196721312px; height: 46px; z-index: 5; left: -1px; top: 280px; max-height: none; max-width: none;">Predicting daily funding for Watsi patients</div>
<div class="absolute-element" style="position: absolute; width: 960.9513164431197px; height: 46px; z-index: 7; left: -2px; top: 377px; max-height: none; max-width: none;">created by Heather Shapiro</div>
<div>
    <br>
</div>

    </section>

      <section data-background="#191919">
      
<h2 class="absolute-element" style="position: absolute; width: 980px; height: 505.6835443037975px; z-index: 4; left: -5px; top: 87px; max-height: none; max-width: none;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/490218/6677921379_dc12bb1667_b.jpg" style="width: 842.8630154154656px; height: 548.5126582278481px; max-height: none; max-width: none;">
<br>
</h2>
<p style="text-align: right; position: absolute; width: 94px; height: 46px; z-index: 6; left: 796px; top: 638px;" class="absolute-element">
<font style="font-size: 24px;">
    <span>
        <i>usaid.gov</i>
    </span>
</font>
</p>
<br>



       
      </section>

      
     <section data-background="#191919">
      
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/490247/watsi.png" style="width: 214px; height: 66px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 359px; top: 100px;" class="absolute-element">
<br>
<div class="absolute-element" style="position: absolute; width: 254px; height: 105px; z-index: 5; left: 351px; top: 253px;">
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 254px; height: 105px; z-index: 6; left: 351px; top: 253px;">
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 254px; height: 105px; z-index: 7; left: 351px; top: 253px;">
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 254px; height: 105px; z-index: 8; left: 351px; top: 253px;">
<br>
</div>
<span class="absolute-element" style="position: absolute; width: 978.6701281843259px; height: 86px; z-index: 4; left: -7px; top: 256px; max-height: none; max-width: none;">crowd-sourced medical care for those in need</span>
<br>
<div style="max-height: none; max-width: none; position: absolute; width: 955px; height: 277px; z-index: 4; left: 1px; top: 312px;" class="absolute-element">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/490259/watsi-cover1.png">
</div>



      </section>

     <section data-background="#191919">
 
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/490302/watsi-cover4.png" style="width: 601px; height: 527px; max-height: none; max-width: none; position: absolute; z-index: 4; left: 160px; top: 70px;" class="absolute-element">
<br>
<div>
</div>
<div class="absolute-element" style="position: absolute; width: 265px; height: 46px; z-index: 4; left: 346px; top: 626px;">
<span>high bounce rate</span>
<br>
</div>




      </section>

      <section data-background="#191919">


<h2 class="absolute-element" style="position: absolute; width: 964.2558370591157px; height: 68px; z-index: 4; left: -7px; top: 132px; max-height: none; max-width: none;">WHENZI</h2>


      </section>

     <section data-background="#191919">
<br>
<font style="font-size: 54px; position: absolute; width: 144px; height: 54px; z-index: 11; left: 94px; top: 166px;" class="absolute-element">
<u>DATA</u>
</font>
<br>
<span style="font-size: 36px; font-style: normal; font-variant: normal;">
    <br>
</span>
<div class="absolute-element" style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 303px; height: 88px; z-index: 5; left: 42px; top: 292px;">&nbsp;<br>
</div>
<span style="font-size: 36px; font-style: normal; font-variant: normal;">
</span>
<span style="font-size: 36px; font-style: normal; font-variant: normal;">
    <br>
</span>
<div class="absolute-element" style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 504px; height: 366.59468036874716px; z-index: 7; left: 377px; top: 120px; max-height: none; max-width: none;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/496613/example_jpg.001.jpg" style="width: 557.900710291673px; height: 413.63805522769354px; max-height: none; max-width: none;">
</div>
<div class="absolute-element" style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 255px; height: 85.0886075949367px; z-index: 8; left: 39px; top: 502px; max-height: none; max-width: none;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/490504/python-logo_2x.png">
</div>
<div class="absolute-element" style="text-align: left; font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 368px; height: 128.8387734915925px; z-index: 9; left: 16px; top: 263px; max-height: none; max-width: none;">Scraped watsi.org for patient features:</div>
<div class="absolute-element" style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 194px; height: 83.9113924050633px; z-index: 4; left: 190px; top: 590px; max-height: none; max-width: none;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/490510/scikit-learn-logo-small.png">
</div>
<span style="font-size: 36px; font-style: normal; font-variant: normal;">
</span>
<div class="absolute-element" style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 524.0102249488752px; height: 61px; z-index: 6; left: 393px; top: 579px; max-height: none; max-width: none;">Random Forest Regression</div>



      </section>
      <section data-background="#191919">



<div>
<br>
</div>
<div>
<br>
</div>
<br>
<div class="absolute-element" style="position: absolute; width: 770px; height: 656px; z-index: 4; left: 109px; top: 118px;">
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/496618/features_v2.png" style="width: 630.0356083086053px; height: 536.8748552507781px; max-height: none; max-width: none;">
<br>
</div>
<div class="absolute-element" style="position: absolute; width: 630.8986354775828px; height: 201px; z-index: 6; left: 179px; top: 66px; max-height: none; max-width: none;">Which features are most important?</div>










</section>

     <section data-background="#191919">

&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493493/difference_v2.png" class="absolute-element" style="font-size: 36px; font-style: normal; font-variant: normal; max-width: none; max-height: none; width: 397.80423720012465px; height: 366.744446908223px; position: absolute; z-index: 5; left: 277px; top: 167px;">
<span style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 70px; height: 43px; z-index: 8; left: 474px; top: 345px;" class="absolute-element">393</span>
<span style="font-size: 36px; font-style: normal; font-variant: normal; position: absolute; width: 90px; height: 43px; z-index: 10; left: 582px; top: 259px;" class="absolute-element">1115</span>
<div class="absolute-element" style="position: absolute; width: 929.0956485616367px; height: 62px; z-index: 6; left: 13px; top: 80px; max-height: none; max-width: none;">
    <font style="font-size: 32px;">Model predicted with 55% accuracy the top 5% of patients who would receive the greatest amount in donations per day</font>
</div>
<div class="absolute-element" style="position: absolute; width: 64.83435455395161px; height: 62px; z-index: 7; left: 801px; top: 631px; max-height: none; max-width: none;">
    <span style="font-size: 75.96px;">
        <br>
    </span>
</div>
<div class="absolute-element" style="position: absolute; width: 938.9502487562189px; height: 62px; z-index: 4; left: 11px; top: 573px; max-height: none; max-width: none;">
    <font style="font-size: 32px;">Patients receiving the greatest amount in daily donations (top 5%) will receive ~2.8x more per day than the average patient&nbsp;</font>
</div>









</section>

     <section data-background="#191919">

&nbsp;<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/496629/watsi-cover4.png" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 526.7562189054727px; height: 461.16789592891575px; z-index: 4; left: 13px; top: 95px;">
<div class="absolute-element" style="position: absolute; width: 358.75124378109456px; height: 417px; z-index: 7; left: 576px; top: 137px; max-height: none; max-width: none;">
    <div style="text-align: left;">&nbsp;Using whenzi.me to decide patient placements on the front page of watsi.org will result in more money per day going to patients in need</div>
<br>
</div>





</section>

     <section data-background="#191919">
      
<br>
<div class="absolute-element" style="position: absolute; width: 227px; height: 162.31748433110005px; z-index: 10; left: 696px; top: 183px; max-height: none; max-width: none;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493320/UCD_MINDInstitute_132gold.jpg">
</div>
<div class="absolute-element" style="position: absolute; width: 227px; height: 162.31748433110005px; z-index: 11; left: 697px; top: 260px; max-height: none; max-width: none;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493318/UCD-seal_blue-gold.jpg" style="width: 129.59795428452145px; height: 134.29353233830847px; max-height: none; max-width: none;">
</div>
<br>
<div class="absolute-element" style="position: absolute; width: 226px; height: 255.7240112383834px; z-index: 9; left: 38px; top: 182px; max-height: none; max-width: none;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493315/nj.png">
</div>
<div class="absolute-element" style="position: absolute; width: 966px; height: 179.51631726820835px; z-index: 8; left: -18px; top: 542px; max-height: none; max-width: none;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493312/alcatraz.jpg" style="width: 993.2878755132915px; height: 152.9816309921461px; max-height: none; max-width: none;">
    <br>
</div>
<div class="absolute-element" style="position: absolute; width: 614.3675355696334px; height: 46px; z-index: 12; left: 158px; top: 446px; max-height: none; max-width: none;">www.heather-shapiro.com</div>
<div class="absolute-element" style="position: absolute; width: 1032px; height: 156px; z-index: 7; left: -38px; top: 45px;">
    <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493311/brains.png" style="width: 992.0682947914415px; height: 117.94589726964915px; max-height: none; max-width: none;">
    <br>
</div>
<div class="absolute-element" style="position: absolute; width: 663.5234188389242px; height: 46px; z-index: 6; left: 134px; top: 490px; max-height: none; max-width: none;">shapiro.heather@gmail.com</div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/digby/images/493334/25870_534689460916_5158039_n.jpg" class="absolute-element" style="position: absolute; max-height: none; max-width: none; width: 322.76853252647504px; height: 240.69310568402852px; z-index: 5; left: 293px; top: 170px;">









     </section> 
      
 

{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
